<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="full-hero hero-home">
      <h1>Hi, I'm a developer</h1>
      <!--{% include lan_links.html %}-->
    </div>

    <div class="central-body">
      <h2>My Work</h2>
      <div class="project-wrapper">
        <div class="project-box">
          <h3><a href="http://example.com/" class="project-names">Ruby on Rails Tutorial Sample Site</a></h3>
          <p>Ruby on Rails</p>
          <div class="intro-copy">
            <p>Project introduction goes here</p>
          </div>
        </div>

        <div class="project-box">
          <h3><a href="http://example.com/" class="project-names">Tianyuan's Blogging Site</a></h3>
          <p>HTML, CSS & JavaScript</p>
          <div class="intro-copy">
            <p>Project introduction goes here</p>
          </div>
        </div>

        <div class="project-box">
          <h3><a href="http://example.com/" class="project-names">Hello Ruby</a></h3>
          <p>Ruby</p>
          <div class="intro-copy">
            <p>Project introduction goes here</p>
          </div>
        </div>

        <div class="project-box">
          <h3><a href="http://example.com/" class="project-names">Palindrome Detector</a></h3>
          <p>JavaScript</p>
          <div class="intro-copy">
            <p>Project introduction goes here</p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
