<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="full-hero hero-home">
      <h1>Hi, I'm a developer</h1>
    </div>

    <div class="central-body">
      <div class="project-wrapper">

        <div class="project-box" id="box-1">
          <img src="css/images/project1.png">
          <div class="intro-copy" id="copy-1">
            <h3><a href="http://example.com/" class="project-names">Rails Tutorial Sample Site</a></h3>
            <p>Ruby on Rails</p>
            <p>Project introduction goes here</p>
          </div>
        </div>

        <div class="project-box" id="box-2">
          <img src="css/images/project2.png">
          <div class="intro-copy">
            <h3><a href="http://example.com/" class="project-names">Tianyuan's Blogging Site</a></h3>
            <p>HTML, CSS & JavaScript</p>
            <p>Project introduction goes here</p>
          </div>
        </div>

        <div class="project-box" id="box-3">
          <img src="css/images/project3.png">
          <div class="intro-copy">
            <h3><a href="http://example.com/" class="project-names">Hello Ruby</a></h3>
            <p>Ruby</p>
            <p>Project introduction goes here</p>
          </div>
        </div>

        <div class="project-box" id="box-4">
          <img src="css/images/project4.png">
          <div class="intro-copy">
            <h3><a href="http://example.com/" class="project-names">Palindrome Detector</a></h3>
            <p>JavaScript</p>
            <p>Project introduction goes here</p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
