<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="full-hero hero-home">
      <h1>I'm a developer</h1>
      <ul class="social-list">
        <li>
          <a href="http://example.com/" class="social-link">Link</a>
        </li>
        <li>
          <a href="http://example.com/"  class="social-link">Link</a>
        </li>
        <li>
          <a href="http://example.com/"  class="social-link">Link</a>
        </li>
      </ul>
    </div>

    <h2>Work</h2>

    <div class="project-wrapper">
      <div class="project-box">
        <h3><a href="http://example.com/" class="project-names">Ruby on Rails Tutorial Sample Site</a></h3>
        <p>Ruby on Rails</p>
        <div class="intro-copy">
          <p>Project introduction goes here</p>
        </div>
      </div>

      <div class="project-box">
        <h3><a href="http://example.com/" class="project-names">Tianyuan's Blogging Site</a></h3>
        <p>HTML, CSS & JavaScript</p>
        <div class="intro-copy">
          <p>Project introduction goes here</p>
        </div>
      </div>

      <div class="project-box">
        <h3><a href="http://example.com/" class="project-names">A Drawing Turtle</a></h3>
        <p>Python</p>
        <div class="intro-copy">
          <p>Project introduction goes here</p>
        </div>
      </div>

      <div class="project-box">
        <h3><a href="http://example.com/" class="project-names">Hello Ruby</a></h3>
        <p>Ruby</p>
        <div class="intro-copy">
          <p>Project introduction goes here</p>
        </div>
      </div>

      <div class="project-box">
        <h3><a href="http://example.com/" class="project-names">Palindrome Detector</a></h3>
        <p>JavaScript</p>
        <div class="intro-copy">
          <p>Project introduction goes here</p>
        </div>
      </div>

      <div class="project-box">
        <h3><a href="http://example.com/" class="project-names">???</a></h3>
        <p>JavaScript</p>
        <div class="intro-copy">
          <p>Project introduction goes here</p>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
